<div class="text-primary d-flex w-100">
  <p class="text-right w-100 mb-1"><%= pluralize(locals[:post].like_count, 'Like') %></p>
</div>
<% unless like = locals[:post].liked_by(current_user) %>
<%= link_to 'Like', likes_path(:params => {post: {post_id: locals[:post].id}}), method: :post, class: 'btn btn-info d-flex justify-content-end w-50' %>
<% else %>
<%= link_to 'Unlike', like, method: :delete, class: 'btn btn-info d-flex justify-content-end w-50' %>
<% end %> 