<div class="row">
  <div class="col-9 col-md-offset-3 mb-5">
    <%= form_for(@post) do |f| %>

      <%= f.text_area :content, class: 'form-control', placeholder: 'What\'s on your mind?' %>

      <%= f.submit "Create post", class: "btn btn-primary float-right clearfix" %>
    <% end %>
  </div>
</div>
<hr>